<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @profile.location %>
</p>

<p>
  <b>Bio:</b>
  <%= @profile.bio %>
</p>

<p>
  <b>Birthday:</b>
  <%= @profile.birthday %>
</p>

<p>
  <b>Diagnosed:</b>
  <%= @profile.diagnosed %>
</p>

<p>
  <b>Medications:</b>
  <%= @profile.medications %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
