<!--This is the settings page, where a user can edit their name, email and password  -->

<h2>Edit user</h2>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div><!--.field-->
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div><!--.field-->
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div><!--.field-->
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div><!--.field-->
  <div class="actions">
    <%= f.submit "Update", :class => "button round" %>
  </div><!--.actions-->
<% end %>

<div>
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails">change</a>
</div>
